@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Leer Ayuda <a href="https://docs.microsoft.com/aspnet/core">Dreims Code</a>.</p>
   
</div>
